body {
  text-align: center;
  background-color: #1d2d50;
}

h1 {
  font-size: 5rem;
  color: #f8bd7f;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #ed6663;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.w {
  background-image: url(images/crash.png);
}

.a {
  background-image: url(images/kick.png);
}

.s {
  background-image: url(images/snare.png);
}

.d {
  background-image: url(images/tom1.png);
}
.f {
  background-image: url(images/tom2.png);
}

.g {
  background-image: url(images/tom3.png);
}

.h {
  background-image: url(images/tom4.png);
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "VT323", monospace;
  font-weight: 400;
  color: gold;
  text-shadow: 3px 0 silver;
  border-radius: 20%;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: rgb(212, 193, 236);
}

footer {
  font-family: "VT323", monospace;
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 100;
}
